<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="arduino.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="arduino.Properties.Arduino" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="arduino.Properties.Arduino" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <arduino.Properties.Settings>
            <setting name="smartSmsNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="smartComPort" serializeAs="String">
                <value />
            </setting>
        </arduino.Properties.Settings>
        <arduino.Properties.Arduino>
            <setting name="smartUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="smartProfiles" serializeAs="String">
                <value />
            </setting>
        </arduino.Properties.Arduino>
    </userSettings>
    <applicationSettings>
        <arduino.Properties.Arduino>
            <setting name="smartSmsNumber" serializeAs="String">
                <value />
            </setting>
        </arduino.Properties.Arduino>
    </applicationSettings>
</configuration>